PAYPAL_CLIENT_ID=replace-me
PAYPAL_CLIENT_SECRET=replace-me
PAYPAL_START_PLAN_ID=replace-me
PAYPAL_TEAM_PLAN_ID=replace-me
PAYPAL_VERBAND_PLAN_ID=replace-me
PAYPAL_WEBHOOK_ID=replace-me
PLATFORM_PROVISIONING_TOKEN=replace-me
